[Unit]
Description=Start the thermal camera program
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/sirus/Thermal-camera-project/
ExecStart=sudo python3 /home/sirus/Thermal-camera-project/run.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target